<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OFCS/Event</title>

    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords"
        content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="img/favicon.gif">
</head>
<style>
    .bg-color {
        background-color: rgba(0, 0, 0, 0.61);
        min-height: 630px;
    }
</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                    style:width="auto">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <img class="navbar-brand" style="height:100px; padding: 0px;" src="img/pl.png">

                <a class="navbar-brand" style="padding-top:40px;" href="/">Online Food Court Services</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/">Home</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/events">Event</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/menu">Menu</a></li>
                    @if(!auth)
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/login">Login</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/register">Sign
                            up</a></li>
                    @endif
                    @if(auth)
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/logout">Logout</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/reserve">Reserve</a></li>
                    @endif
                </ul>

            </div>
        </div>

    </nav>
    <section id="event">
        <div class="bg-color" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center" style="padding:60px;">
                        <br>
                        <br>
                        <h1 class="header-h">Up Coming events</h1>
                        <p class="header-p">Decorations 100% complete here</p>
                    </div>
                    <div class="col-md-12" style="padding-bottom:60px;">
                        <div class="item active left">
                            <div class="col-md-6 col-sm-6 left-images">
                                <img src="img/res022.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-6 col-sm-6 details-text">
                                <div class="content-holder">
                                    <h2>Joyful party</h2>
                                    <h2> Happy Hour Meals</h2>

                                    <p>Eliminate the stress of making large party reservations. Compare with multiple
                                        restaurants and book your reservations here instantly for parties, business
                                        dinners or any occasion. </p>
                                    <address>
                                        <strong>Place: </strong>
                                        The Food Train
                                        <br>
                                        <strong>Time: </strong>
                                        06:30 PM onwards
                                        Every Friday !
                                    </address>
                                    <a class="btn btn-imfo btn-read-more" href="reserve.html">Book a Table</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }
    </style>
    <div class="row">
        <div class="column">
            <img src="img/IMG_20190114_220311.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
            <img src="img/res01.jpg" alt="Forest" style="width:100%">
        </div>
        <div class="column">
            <img src="img/res02.jpg" alt="Mountains" style="width:100%">
        </div>
    </div>


    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Online Food Court Services</h4>

                        <address>Adjacent to TCS Adibatla<br>Hyderabad-501510<br>thefoodtrain3008@gmail.com</address>
                        <div class="social-list">
                            <a href="https://www.instagram.com/akhil_the_food_train/"><img src="img/instagram.png"> </a>
                            <a href="https://m.facebook.com/The-Food-Train-372415413585878/"><img
                                    src="img/imageedit_1_3740057647.png"></a>
                        </div>
                        <p class="copyright clear-float">
                            © copyright. All Rights Reserved
                            <div class="credits">
                                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Online Food Court Services
                -->
                                Designed by TeamC2
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>