<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OFCS/Menu</title>


    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords"
        content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" href="img/favicon.gif">
</head>
<style>
    .badge-notify {
        background: red;
        position: relative;
        top: -20px;
        right: 10px;
    }

    .my-cart-icon-affix {
        position: fixed;
        z-index: 999;
    }
</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                    style:width="auto">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                <img class="navbar-brand" style="height:100px; padding: 0px;" src="img/pl.png">

                <a class="navbar-brand" style="padding-top:40px;" href="/">Online Food Court Services</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/">Home</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/events">Event</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/menu">Menu</a></li>
                    @if(!auth)
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/login">Login</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/register">Sign
                            up</a></li>
                    @endif
                    @if(auth)
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/logout">Logout</a></li>
                    <li><a class="navbar-brand" style="padding-top:40px;" href="/reserve">Reserve</a></li>
                    @endif
                </ul>

            </div>
        </div>

    </nav>
    <br>
    <Br> <!-- menu -->
    <section id="menu-list" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center marb-35">
                    <h1 class="header-h">Menu List
                        <div style="float: right; cursor: pointer;">
                            @if(auth)
                            <span class="glyphicon glyphicon-shopping-cart my-cart-icon"><span
                                    class="badge badge-notify my-cart-badge"></span></span>
                            @endif
                        </div>
                    </h1>
                    <p class="header-p">Food is for eating and good food is to be enjoyed.I think food is actually,very
                        beautiful
                        in itself. </p>
                </div>

                <div class="col-md-12  text-center" id="menu-flters">
                    <ul>
                        <li><a class="filter active" data-filter=".menu-restaurant"><b>Show All</b></a></li>
                        <li><a class="filter" data-filter=".breakfast"><b>BIRYANI</b></a></li>
                        <li><a class="filter" data-filter=".lunch"><b>BBQ</b></a></li>
                        <li><a class="filter" data-filter=".dinner"><b>INDIAN</b></a></li>


                    </ul>
                </div>
                <div id="menu-wrapper">

                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Chicken
                                biryani</a>
                            <span class="menu-price">Rs200</span>
                            <br>
                            <span class="menu-subtitle">Served with bone. Classic mulai dish of horse gram sauce cooked
                                with chicken
                                and rice.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="1"
                            data-name="Chicken biryani" data-summary="Served with bone. Classic mulai dish of horse gram sauce cooked
                            with chicken
                            and rice." data-price="200" data-quantity="1">Add to Cart</button>
                        @endif

                    </div>

                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Chicken biryani
                                Hundi</a>
                            <span class="menu-price">Rs250</span>
                            <br>
                            <span class="menu-subtitle">A magnificent, extra large portion of the World’s Favourite
                                Biryani.
                                Great for sharing. (Serves 3-4 guests) </span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="2"
                            data-name="Chicken biryani Hundi" data-summary="A magnificent, extra large portion of the World’s Favourite
                            Biryani.
                            Great for sharing. (Serves 3-4 guests)" data-price="250" data-quantity="1">Add to
                            Cart</button>
                        @endif
                    </div>

                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Mutton B/L
                                Biryani </a>
                            <span class="menu-price">Rs240</span><br>
                            <span class="menu-subtitle">An aromatic mixture of rice, lamb, saffron, herbs
                                and spices, served with raita and mirchi-ka-salan</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="3"
                            data-name="Mutton B/L Biryani" data-summary="An aromatic mixture of rice, lamb, saffron, herbs
                            and spices, served with raita and mirchi-ka-salan" data-price="240" data-quantity="1">Add
                            to Cart</button>
                        @endif
                    </div>

                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Mutton B/L
                                Biryani Hundi</a>
                            <span class="menu-price">Rs300</span><br>
                            <span class="menu-subtitle">A magnificent, extra large portion of the World’s Favourite
                                Biryani.
                                Great for sharing. (Serves 3-4 guests)</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="4"
                            data-name="Mutton B/L Biryani Hundi" data-summary="A magnificent, extra large portion of the World’s Favourite
                            Biryani.
                            Great for sharing. (Serves 3-4 guests)" data-price="300" data-quantity="1">Add to
                            Cart</button>
                        @endif
                    </div>
                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Veg Biryani
                            </a>
                            <span class="menu-price">Rs150</span><br>
                            <span class="menu-subtitle">Fresh vegetables and basmati rice cooked in layers,
                                flavoured with saffron, served with raita and mirchi-ka-salan</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="5" data-name="Veg Biryani"
                            data-summary="Fresh vegetables and basmati rice cooked in layers,
                            flavoured with saffron, served with raita and mirchi-ka-salan" data-price="150"
                            data-quantity="1">Add to Cart</button>
                        @endif
                    </div>
                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Veg Biryani
                                Hundi</a>
                            <span class="menu-price">Rs200</span>
                            <br>
                            <span class="menu-subtitle">Fresh vegetables and basmati rice cooked in layers,
                                flavoured with saffron, served with raita and mirchi-ka-salan, Great for sharing.
                                (Serves 3-4 guests)</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="6"
                            data-name="Veg Biryani Hundi" data-summary="Fresh vegetables and basmati rice cooked in layers,
                            flavoured with saffron, served with raita and mirchi-ka-salan, Great for sharing.
                            (Serves 3-4 guests)" data-price="200" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Egg Biryani
                            </a>
                            <span class="menu-price">Rs160</span><br>
                            <span class="menu-subtitle">A seasoned mixture of egg and basmati rice,
                                served with raita and mirchi-ka-salan</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="7" data-name="Egg Biryani"
                            data-summary="A seasoned mixture of egg and basmati rice,
                            served with raita and mirchi-ka-salan" data-price="160" data-quantity="1">Add to
                            Cart</button>
                        @endif
                    </div>
                    <div class="breakfast menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Egg Biryani
                                Hundi</a>
                            <span class="menu-price">Rs200</span><br>
                            <span class="menu-subtitle">A seasoned mixture of egg and basmati rice,
                                served with raita and mirchi-ka-salan, Great for sharing. (Serves 3-4 guests)</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="8"
                            data-name="Egg biryani Hundi" data-summary="A seasoned mixture of egg and basmati rice,
                            served with raita and mirchi-ka-salan, Great for sharing. (Serves 3-4 guests)"
                            data-price="200" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>
                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Chicken
                                kababs</a>
                            <span class="menu-price">Rs180</span><br>
                            <span class="menu-subtitle">chicken pieces marinated with a range of spices and shallow
                                fried.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="9" data-name="Chicken kababs"
                            data-summary="chicken pieces marinated with a range of spices and shallow
                            fried." data-price="180" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Tandoori mutton
                                BBQ</a>
                            <span class="menu-price">Rs250</span><br>
                            <span class="menu-subtitle">Succulent mutton legs cooked in aromatic
                                and flavoured spices.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="10"
                            data-name="Tandoori mutton BBQ" data-summary="Succulent mutton legs cooked in aromatic
                            and flavoured spices." data-price="250" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>
                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">BBQ mutton</a>
                            <span class="menu-price">Rs380</span><br>
                            <span class="menu-subtitle">a medley of exciting spices grilled to perfection with mutton
                                cubes,capsicum,onions.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="11" data-name="BBQ mutton"
                            data-summary="a medley of exciting spices grilled to perfection with mutton
                            cubes,capsicum,onions." data-price="380" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Boti kababs</a>
                            <span class="menu-price">Rs200</span><br>
                            <span class="menu-subtitle">thoroughly marinated,mutton cubes are cooked and then grilled on
                                a skewer</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="12" data-name="Boti kababs"
                            data-summary="thoroughly marinated,mutton cubes are cooked and then grilled on
                            a skewer" data-price="200" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">BBQ mutton
                                Chops</a>
                            <span class="menu-price">Rs350</span><br>
                            <span class="menu-subtitle">Thin strips of meat are marinated with garlic,yogurt and grilled
                                to
                                perfection.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="13"
                            data-name="BBQ mutton Chops" data-summary="Thin strips of meat are marinated with garlic,yogurt and grilled
                            to
                            perfection." data-price="350" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">BBQ wings with
                                Coke</a>
                            <span class="menu-price">Rs250</span><br>
                            <span class="menu-subtitle">wings rolled in a tangy mixture of chilli powder,and
                                oregano,cooked to
                                precision.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="14"
                            data-name="BBQ wings with Coke" data-summary="wings rolled in a tangy mixture of chilli powder,and
                            oregano,cooked to
                            precision." data-price="250" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="lunch menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Grilled Asian
                                kababs</a>
                            <span class="menu-price">Rs290</span><br>
                            <span class="menu-subtitle">Succulent kebabs are cooked in aromatic
                                and flavoured spices.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="15"
                            data-name="Grilled Asian kababs" data-summary="Succulent kebabs are cooked in aromatic
                            and flavoured spices." data-price="290" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Alu 65</a>
                            <span class="menu-price">Rs160</span><br>
                            <span class="menu-subtitle">crisp and spicy potatoes,good starter snack</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="16" data-name="Alu 65"
                            data-summary="crisp and spicy potatoes,good starter snack" data-price="160"
                            data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Veg
                                manchuria</a>
                            <span class="menu-price">Rs160</span><br>
                            <span class="menu-subtitle">Stir fried vegetable dumplings in spiced
                                Manchurian sauce</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="17" data-name="Veg manchuria"
                            data-summary="Stir fried vegetable dumplings in spiced
                            Manchurian sauce" data-price="160" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Kadai
                                Paneer</a>
                            <span class="menu-price">Rs180</span><br>
                            <span class="menu-subtitle">A perfect combination of cottage cheese, tomato,
                                onion and capsicum in a rich gravy.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="18" data-name="Kadai Paneer"
                            data-summary="A perfect combination of cottage cheese, tomato,
                            onion and capsicum in a rich gravy." data-price="180" data-quantity="1">Add to
                            Cart</button>
                        @endif
                    </div>


                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Dal tadka</a>
                            <span class="menu-price">Rs160</span><br>
                            <span class="menu-subtitle">Cooked lentil gravy tempered with spiced and clarified butter.
                                Vegetarian.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="19" data-name="Dal tadka"
                            data-summary="Cooked lentil gravy tempered with spiced and clarified butter.
                            Vegetarian." data-price="160" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>

                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Egg curry</a>
                            <span class="menu-price">Rs140</span><br>
                            <span class="menu-subtitle">Curried boiled eggs simmered in spiced
                                aromatic gravy.</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="20" data-name="Egg curry"
                            data-summary="Curried boiled eggs simmered in spiced
                            aromatic gravy." data-price="140" data-quantity="1">Add to Cart</button>
                        @endif
                    </div>



                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Kaju masala</a>
                            <span class="menu-price">Rs160</span><br>
                            <span class="menu-subtitle">kaju butter masala with rich,creamy gravy</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="21" data-name="Kaju masala"
                            data-summary="kaju butter masala with rich,creamy gravy" data-price="160"
                            data-quantity="1">Add to Cart</button>
                        @endif
                    </div>
                    <div class="dinner menu-restaurant">
                        <span class="clearfix">
                            <a class="menu-title" href="#" data-meal-img="assets/img/restaurant/rib.jpg">Green Salad</a>
                            <span class="menu-price">Rs100</span><br>
                            <span class="menu-subtitle">A refreshing ,different salad!</span>
                        </span>
                        @if(auth)
                        <button class="btn btn-danger my-cart-btn" onclick="al()" data-id="22" data-name="Green Salad"
                            data-summary="A refreshing ,different salad!" data-price="100" data-quantity="1">Add to
                            Cart</button>
                        @endif
                    </div>
                </div>

            </div>
        </div>

        <script src="js/jquery-2.2.3.min.js"></script>
        <script type='text/javascript' src="js/bootstrap.min.js"></script>
        <script type='text/javascript' src="js/jquery.mycart.js"></script>
        <script type="text/javascript">
            $(function () {

                var goToCartIcon = function ($addTocartBtn) {
                    var $cartIcon = $(".my-cart-icon");
                    var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({ "position": "fixed", "z-index": "999" });
                    $addTocartBtn.prepend($image);
                    var position = $cartIcon.position();
                    $image.animate({
                        top: position.top,
                        left: position.left
                    }, 500, "linear", function () {
                        $image.remove();
                    });
                }

                $('.my-cart-btn').myCart({
                    currencySymbol: 'Rs',
                    classCartIcon: 'my-cart-icon',
                    classCartBadge: 'my-cart-badge',
                    classProductQuantity: 'my-product-quantity',
                    classProductRemove: 'my-product-remove',
                    classCheckoutCart: 'my-cart-checkout',
                    affixCartIcon: true,
                    showCheckoutModal: true,
                    numberOfDecimals: 2,
                    cartItems: [],
                    clickOnAddToCart: function ($addTocart) {
                    },
                    afterAddOnCart: function (products, totalPrice, totalQuantity) {
                        console.log("afterAddOnCart", products, totalPrice, totalQuantity);
                    },
                    clickOnCartIcon: function ($cartIcon, products, totalPrice, totalQuantity) {
                        console.log("cart icon clicked", $cartIcon, products, totalPrice, totalQuantity);
                    },
                    checkoutCart: function (products, totalPrice, totalQuantity) {
                        var checkoutString = "Total Price: " + totalPrice + "Total Quantity: " + totalQuantity;
                        checkoutString += " id \t name \t summary \t price \t quantity \t image path";
                        $.each(products, function () {
                            checkoutString += ("" + this.id + " \t " + this.name + " \t " + this.summary + " \t " + this.price + " \t " + this.quantity + " \t " + this.image);
                        });
                        tot = parseInt(totalPrice) * 0.9;
                        totalp = {}
                        totalp.totalPrice = tot;
                        totalp.totalQuantity = totalQuantity;
                        products.push(totalp)
                        console.log(products)
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify(products),
                            contentType: 'application/json',
                            url: '/checkout',
                        });
                        alert('order placed succesfully')
                        console.log(checkoutString)
                        console.log("checking out", products, totalPrice, totalQuantity);
                    },
                    getDiscountPrice: function (products, totalPrice, totalQuantity) {
                        console.log("calculating discount", products, totalPrice, totalQuantity);
                        return totalPrice * 0.9;
                    }
                });

                $("#addNewProduct").click(function (event) {
                    var currentElementNo = $(".row").children().length + 1;
                    $(".row").append('<div class="col-md-3 text-center"><img src="images/img_empty.png" width="150px" height="150px"><br>product ' + currentElementNo + ' - <strong>$' + currentElementNo + '</strong><br><button class="btn btn-danger my-cart-btn" data-id="' + currentElementNo + '" data-name="product ' + currentElementNo + '" data-summary="summary ' + currentElementNo + '" data-price="' + currentElementNo + '" data-quantity="1" data-image="images/img_empty.png">Add to Cart</button><a href="#" class="btn btn-info">Details</a></div>')
                });
            });
        </script>



    </section>
    <!--/ menu -->
    <footer class="footer text-center">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 text-center">
                    <div class="widget">
                        <h4 class="widget-title">Online Food Court Services</h4>
                        <address>Adjacent to TCS Adibatla<br>Telangana, DL 110013<br>thefoodtrain3008@gmail.com
                        </address>
                        <div class="social-list">
                            <a href="https://www.instagram.com/akhil_the_food_train/"><img src="img/instagram.png"> </a>
                            <a href="https://m.facebook.com/The-Food-Train-372415413585878/"><img
                                    src="img/imageedit_1_3740057647.png"></a>
                        </div>
                        <p class="copyright clear-float">
                            © copyright. All Rights Reserved
                            <div class="credits">
                                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Online Food Court Services
                -->
                                Designed by TeamC2
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>
        body {
            font-size: 20px;
            line-height: 1.52;
            color: #000;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            overflow-x: hidden;
        }
    </style>

    <script src="js/jquery.easing.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>
    <script>
        function al() {
            alert('Item added successfully')
        }
    </script>
</body>

</html>