<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  @each(post in posts)
  {{ post.name }}
  {{post.date}}
  {{post.email}}
  {{post.time}}
  {{post.quantity}}
  {{post.message}}
<p>Table booked by: {{users.username}}</p>
<p>Table booked on: {{post.createdAt}}</p>
<hr>
@endeach
<a href="/"><button class="btn btn-primary">BACK</button></a>
</body>
</html>
