<!DOCTYPE html>
<html>

<meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
<meta name="keywords"
  content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="icon" href="/img/favicon.gif">
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
  }

  * {
    box-sizing: border-box
  }

  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #fff;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for all buttons */
  button {
    background-color: #ffb03b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  img.avatar {
    width: 10%;
    border-radius: 10%;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  /* Add padding to container elements */
  .container {
    padding: 16px;
  }

  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style:width="auto">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <img class="navbar-brand" style="height:100px; padding: 0px;" src="/img/pl.png">

      <a class="navbar-brand" style="padding-top:40px;" href="/">Online Food Court Services</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" style="padding-top:40px;" href="/">Home</a></li>
        <li><a class="navbar-brand" style="padding-top:40px;" href="/events">Event</a></li>
        <li><a class="navbar-brand" style="padding-top:40px;" href="/menu">Menu</a></li>
        @if(!auth)
        <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/login">Login</a></li>
        <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/register">Sign
            up</a></li>
        @endif
        @if(auth)
        <li><a class="navbar-brand" style="padding-top:40px;" href="/auth/logout">Logout</a></li>
        @endif
        <li><a class="navbar-brand" style="padding-top:40px;" href="/reserve">Reserve</a></li>
      </ul>

    </div>
  </div>

</nav>
<br>
<br>
<br>

<body>

  <div class=" container" style="margin:100px; background-color:white">

    <center>
      <h1 style="color:#ffb03b"><b>Sign Up </b></h1>

      <div class="imgcontainer">
        <img src="/img/avatar.jpg" alt="Avatar" class="avatar">
      </div>
      <p>Please fill in this form to create an account.</p>

    </center>
    <div class="container">

      <form action="/users/register" method="POST" encType="multipart/form-data">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter username" name="username" required>
        <label for="email"><b>Email id</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Password" name="password" required>
        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">

          <button type="submit">Sign Up</button>
        </div>
    </div>
    </form>
  </div>
  <script>
    function myFunction() {
      return <form action="index.html"></form>
    }
  </script>
  <footer class="footer text-center">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center">
          <div class="widget">
            <h4 class="widget-title">Online Food Court Services</h4>

            <address>Adjacent to TCS Adibatla<br>Hyderabad-501510<br>thefoodtrain3008@gmail.com</address>

            <div class="social-list">
              <a href="https://www.instagram.com/akhil_the_food_train/"><img src="/img/instagram.png"> </a>
              <a href="https://m.facebook.com/The-Food-Train-372415413585878/"><img
                  src="/img/imageedit_1_3740057647.png"></a>
            </div>
            <p class="copyright clear-float">
              © Copyright. All Rights Reserved
              <div class="credits">

                Designed by TeamC2
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>